/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 900px;
	margin: auto;
}
header {
	display: flex;
	flex-direction: column;
	margin-top: 2%
}
header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header nav a {
	text-decoration: none;
}

.hero {
	margin-top: 40px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
}

.hero-text h1 {
	font-size: 75px;
	margin-right: 20px;	
}

.hero-text button{
	font-size: 20px;
    padding: 5px 40px 5px 40px;	
}

.hero img {
	margin-left: 20px;
}

.home-top-content {
	display: flex;
	justify-content: space-evenly;
	border-top: 1px solid black;
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 30px
}


.home-text-content {
	width: 45%
}

.home-bottom-content {
	display: flex;
	justify-content: space-around;
	margin-top: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid black;
}

.bottom-text-content {
	width: 30%;
	
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
	height: 130px;
}

footer {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

/* ------------ Tablet Media Query ------------ */

@media (max-width: 800px){
	
	header {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-top: 30px;
		margin-left: 12px;
		margin-right: 45px;
		font-size: 16px;
	}

	header nav {
		margin-top:30px
	}
	
	.container{
		width: 95%; 
	}

	header .logo {
		display: flex;
		align-items: center;
		margin: 0 auto;
		order: -1;
	}

	.hero img {
		display: none;
	}

	.hero {
		margin: 0;
	}

	.middle-img {
		width: 100%
	}

	.home-bottom-content {

	}
	

}

/* ------------ Mobile Media Query ------------ */

@media (max-width: 500px){
	.container {
		width: 95%
	}

	header nav{

		margin-bottom: 0;
		border-bottom: 1px solid black;
		display: flex;
		flex-direction: column
		
	}

	header nav a {
		display: flex;
		justify-content: center;
		width: 95%;
		border-top: 1px solid black;
		font-size: 20px;
		padding: 4.8%
		

	}
	header nav .logo {
		order: -1;
	}

	.hero img {
		display: none;
	}

	.hero {
		margin: 0;	
	}
	
	.hero-text h1 

	.home-main-content, .home-top-content {
		display: block;
	}

	.home-text-content {
		padding-bottom: 40px;
		width: 100%
	}

	.middle-img {
		width: 100%
	}

	.home-bottom-content {
		display: block
	}

	.bottom-text-content {
		padding-bottom: 30px;
		width: 100%
	}

	footer {
		margin-top: 20
	}

}